input{
    min-width: 400px;
    padding: 15px;
    margin: 5px 0;
    border-bottom: 1px solid #ccc !important;
    font-size: 18px;
}

button{
    font-size: 18px;
    padding: 10px;
    margin: 10px 0;
}


.logo_div{
    display: flex;
    justify-content: center;
}


#login_wrap{
    display: flex;
    flex-direction: column;
    padding: 50px 60px;
    border-radius: 15px;
    box-shadow: 8px 8px 8px 8px #ccc;
}

.form_wrap{
    display: flex;
    flex-direction: column;
}



#login_logo{
    width: 200px;
    height: 200px;
    margin: 50px 0;
    cursor: pointer;
}

.form_input:focus{
    transition-duration: 0.5s;
    border-bottom: 1px solid darkblue !important;
}

.login_btn{
    border: 1px solid #002874;
    outline: none;
    cursor: pointer;
}

.login_btn:hover{
    transition-duration: 300ms;
}



#find_wrap{
    display: flex;
    justify-content: end;
}

#find_idpw{
    font-size: 12px;
}
#find_idpw:hover{
    cursor: pointer;
    font-weight: bold;
}