*{
    color: #102232;
}

a{
    text-decoration: none;
    color: black;
}
input{
    border:none;
    outline: none;
}

button{
    outline: none;
    border: none;
    border-radius: 12px !important;
    padding: 10px;
    background-color: #455969;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
button:hover{
    transition-duration: 300ms;
    background-color: #102232;
    color: white;
}


#wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100vh;
    min-height: 100vh;
}

/*헤더 스타일*/
#logo{
    width: 100px;
    height: 100px;
    cursor: pointer;
}

#header{
    min-width: 100vh;
    margin-top: 10px;
    display: flex;
    justify-content:center;
    align-items: center;

}

#header_wrap{
    display: flex;
    justify-content: space-between;
    width: 65%;
}

.head_inner_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}

#head_right{
    font-size: 18px;
}


.search_wrap{
    display: flex;
}

.search_input_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 8px;
    border: 1px solid #455969;
    border-radius: 10px;
    margin-right: 10px;
}
.search_input_wrap input{
    font-size: 18px;
    padding: 5px 5px;
    min-width: 300px;
}

#header_user_name{
    margin: 0 10px;
}

#logout{
    cursor: pointer;
}

/*footer*/
footer{
    margin-top: 100px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #102232;
}

footer p{
    color: white;
}