<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pb.pblog.repository.BoardMapper">

    <!--게시글 정보 + 유저 정보-->
    <resultMap id="boardMap" type="com.pb.pblog.entity.Board">
        <result property="bid" column="bid"/>
        <result property="title" column="title"/>
        <result property="category" column="category"/>
        <result property="content" column="content"/>
        <result property="create_date" column="create_date"/>
        <result property="update_date" column="update_date"/>
        <association property="user" column="com.pb.pblog.entity.User">
            <result property="uid" column="uid"/>
            <result property="nickname" column="nickname"/>
        </association>
    </resultMap>

    <!--메인 데이터-->
    <!--데이터가 5개 미만일 경우 분리하기 어려워서 중간에 null 값을 임의로 넣음-->
    <select id="mainBoard" resultMap="boardMap">
        (select
            b.bid AS bid,
            b.title AS title,
            b.category AS category,
            b.content AS content,
            b.create_date AS create_date,
            b.update_date AS update_date,
            u.uid AS uid,
            u.nickname AS nickname
        from
            board b left outer join user u ON b.uid=u.uid
        ORDER BY
            create_date DESC
        LIMIT 5)

        union all

        (select
            null AS bid,
            null AS title,
            null AS category,
            null AS content,
            null AS create_date,
            null AS update_date,
            null AS uid,
            null AS nickname
        from
            board b left outer join user u on b.uid=u.uid
        LIMIT 1)

        union all

        (select
            bb.bid AS bid,
            bb.title AS title,
            bb.category AS category,
            bb.content AS content,
            bb.create_date AS create_date,
            bb.update_date AS update_date,
            bb.uid AS uid,
            bb.nickname AS nickname
        from
            (select
                b2.bid,
                b2.title,
                b2.category,
                b2.content,
                b2.create_date,
                b2.update_date,
                u2.uid,
                u2.nickname,
                row_number() over(order by b2.category) as rn
            from
                board b2 left outer join user u2 on b2.uid=u2.uid
            ) bb
        where
            bb.rn <![CDATA[<=]]> 5)
    </select>

    <!--글 저장-->
    <insert id="boardSave" parameterType="com.pb.pblog.entity.Board">
        insert into board(uid,title,content,category)
        values(
        #{user.uid},
        #{title},
        #{content},
        #{category}
        );
    </insert>

    <!--글 수정-->
    <update id="boardEdit" parameterType="com.pb.pblog.entity.Board">
        update
            board
        set
            title=#{title},
            content=#{content},
            update_date=#{update_date},
            category=#{category}
        where
            bid=#{bid};
    </update>

    <!--글 삭제-->
    <delete id="boardDelete" parameterType="java.lang.Long">
        delete from
            board
        where
            bid=#{bid}
    </delete>

    <!--게시글 조회 category를 받아서 조회 ,limit이 있으면 해당 개수만 조회-->
    <select id="boardSearch" parameterType="map" resultMap="boardMap">
        select
            b.bid,
            b.title,
            b.category,
            b.content,
            b.create_date,
            b.update_date,
            u.uid,
            u.nickname
        from
            board b
            left outer join user u on u.uid=b.uid
        where
            b.title like CONCAT('%', #{title}, '%')
        <choose>
            <!--최근 글,모두 조회가 아닌경우 category별로 조회-->
            <when test="category!='recently' and category!='all'">
                and
                    b.category=#{category}
            </when>
        </choose>
        order by
            create_date desc
        <choose>
            <!-- limit 파라미터가 제공되었을 때 처리 - 메인페이지 -->
            <when test="limit != null">
                limit #{limit}
            </when>
        </choose>
    </select>

    <!--게시글 상세 - 게시글 내용, 작성자-->
    <select id="boardDetail" parameterType="Long" resultMap="boardMap">
        select
            b.bid,
            b.title,
            b.content,
            b.create_date,
            b.update_date,
            b.category,
            u.uid,
            u.nickname
        from
            board b left outer join user u on u.uid=b.uid
        where
            b.bid=#{bid}
    </select>

</mapper>