.baord_detail_wrap{
    width: 70%;
    margin: 30px 0;
}

.board_content_wrap{
    width: 100%;
    margin: 30px 0;
}

.board_title_wrap{
    display: flex;
    justify-content: space-between;
}

#change_btn{
    background: none;
    position: relative;
}

.noShow{
    display: none;
}

.show{
    background-color: white;
    margin: 2px;
    padding:0;
    display: block;
    position: absolute;
    width: 100px;
    top: -55px;
    border: 1px solid #cccccc;
    z-index: 100;
    border-radius: 5px;
}
.show li{
    font-size: 15px;
    padding: 3px;
}
.show li:nth-child(1){
    justify-content: center;
    display: flex;
    border-top-left-radius:5px;
    border-top-right-radius:5px ;
}

.show li:nth-child(2){
    justify-content: center;
    display: flex;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px ;
}

.show li:hover{
    background: #455969;
    color: white;
}

.detail_inner_wrap{
    min-height: 50vh;
}
.detail_inner_wrap h2{
    font-weight: 600;
}

.detail_title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;

    border-bottom: 2px solid #ccc;
}
.detail_content{
    padding: 30px 0;
}



/*comment*/

.comment_top{
    margin: 30px 0;
    padding: 5px 0;
    border-bottom: 3px solid #ccc;
}

.comment_write_wrap{
    margin: 30px 0;
}
.comment_input{
    width: 100%;
    height: 100px;
    resize: none;
}

.comment_small_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin: 20px 0;
}

.child_comments{
    border-left: 1px solid #ccc;
    margin-left: 20px;
}

.comment_nickname{
    flex-grow: 1;
    font-weight: bold;
    border-right: 1px solid #ccc;
    text-align: center;
}

.comment_content_box{
    display: flex;
    margin: 0 10px;
    flex-grow: 3;
}

.comment_content{
    border-radius: 5px;
    padding: 5px 10px;
    width: 100%;

}

.comment_end{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comment_date{
    font-size: 12px;
    flex-grow: 1;
    text-align: end;
}

.child_comment_toggle, .comment_edit{
    text-align: end;
}

.child_comment_toggle_btn, .comment_edit_btn{
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}
.child_comment_toggle_btn:hover, .comment_edit_btn:hover {
    border-bottom: 1px solid black;
}