.board_list_wrap{
    width: 65%;
}

.category{
    margin: 50px 20px;
}
.category h2{
    font-weight: bold;
}

.image-wrap{
    height: 70%;
}

.image-wrap img{
    height: 100%;
}


.card-body{
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card_bottom{
    width: 100%;
    /*display: flex;*/
    /*justify-content: space-between;*/
}

.card-text{
    font-family: bold;
    font-weight: bold;
}